<nav>
    <a href="https://webpages.charlotte.edu/palex/">Charlotte.edu</a>
    ||
    <a href="https://github.com/paulalex311">Github</a>
    ||
    <a href="https://paulalex311.github.io/">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/palex">FreeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/paulalex311">CodeAcademy</a>
    ||
    <a href="https://www.linkedin.com/in/paulalexjr/">LinkedIn</a>
</nav>
<p>Page Built By <a href="alexinnovations.com/">Alex Innovations </a>© 2024. <a
        href="https://www.freecodecamp.org/certification/palex/responsive-web-design"><i>Certified in Responsive Web
            Design</i></a></p>
            <script>
                document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
                document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
            </script>