<h1>Paul Alex || ITIS 3135</h1>
<nav>
    <a href="./">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="about.html">About</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="website_evaluations.html">Website Evaluations</a>
    ||
    <a href="tables.html">Tables</a>
    ||
    <a href="project_overview.html">Project Overview</a>
    ||
    <a href="stuff/theBESTfile$&.htm">CRAPPY</a>
    ||
    <a href="hobby/">Hobby</a>
    ||
    <a href="forms.html">Form</a>
    ||
    <a href="client_project\index.html">Wheat Auto Works</a>
</nav>